// Body
$body-bg: #ffffff; 

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1rem; // increase base font size to 1rem
$line-height-base: 1.8; // increase base line height to 1.8
